<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>New</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h3>Welcome {{name}}</h3>
            <form class="d-flex">
                <ul class="navbar-nav list-group-horizontal">
                    <li class="nav-item">
                        <a class="nav-link px-2" href="/new">Add Magazine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="/account">Account</a>
                    </li>
                </ul>
                <a href="/logout" class="btn btn-outline-success" type="submit">Logout</a>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h2>{{magazineDetails["title"]}}</h2>
            <h4>Added By {{magazineDetails["created_by"]}}</h4>
            <h4>Description:</h4>
            <p class="px-2">{{magazineDetails["description"]}}</p>
        </div>
    </div>
</body>

</html>